* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Martel', serif;
    color: #1a1a1a;
}
#welcome-section {
    height: 100vh;
    width: 100%;
    background-image: url(./background1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 8vh;
    text-align: center;
}
h1 {
    display: inline-block;
    position: relative;
    font-size: 4vw;
    font-family: 'Press Start 2P', cursive;
    color: rgb(6, 155, 155);
    top: 75%;
    
    
}

nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    background-color: white;
    height: 4vw;
    padding:1vw;
    width: 100%;
    
}
ul{ 
    
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    list-style: none;
    
}
li > a {
    
    display: inline-block;
    margin-left: 2vw;
    color: #1a1a1a;
    text-decoration: none;
    font-size: 1.4vw;
    font-weight: 700;
}
li > a:hover {
    opacity: 80%;
}
#about-me {
  
    margin:4vw auto 0vw auto;
    width: 80%;
    padding: 4vw;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(26vw,26vw);
    grid-gap: 1vw;
    
}
aside {
    position: relative;;
    overflow: hidden;
    
    
}
#photo {
    
    object-fit: cover;
    object-position: 100% 50%;
    position: relative;
    width: 100%;
    height: 90%;
    
    border-radius: 50%;
}
#text-info {
    margin: auto;
    grid-column: 1 / 3;
    font-size: 1.6vw;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-indent: 2vw;
    color: #1a1a1a;
}
#text-info > p {
    text-indent: 2vw;
}
h2 {
     
    text-align: center;
    font-size: 1.4vw;
    font-weight: 700;
    text-transform: lowercase;
}
#projects {
   
    width: 80%;
    padding: 4vw;
    margin: 0vw auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(26vw, auto);
    grid-gap: 4vw;
    
}

.project-name {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2; 
    height: 6vw;  
    width: 100%;
    background-color: #1a1a1a; 
    padding: 0.8vw;
    color: antiquewhite;
    opacity: 90%;
    font-family: 'Martel', serif;
    text-transform: uppercase;
}
.project-name:hover {
    font-family: 'Martel', serif;
    text-transform: uppercase;
    z-index: 3;
    
}
.details {
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    color: thistle;
}
.more-details {
    color: thistle;
    font-size: 0.8vw;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
}
.more-details > a {
    text-decoration: none;
    color: rgb(69, 69, 156);
    font-size: 1vw;
    font-weight: 700;
}

.wrapper {
    height: 100%;
    width: 100%;
    font-size: 1.4vw;
    
    position: relative;
    opacity: 90%;
    transition: all .2s ease-in-out;
    text-align: center;
    z-index: 3;
    filter: grayscale(50%);
    border: 1px solid white;
    border-radius: 10px;
}
.wrapper:hover {
    transform: scale(1.05);
    opacity: 100%;
    z-index: 2;
    filter: none;
}
.example {
    
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.images {
    
    z-index: 3;
    display: block;
    position: absolute;
     
    height: auto;
    width: 103%;
    top: -1%;
    left: -1%;
    object-fit: contain;
    object-position: center;
    
}


.images:hover {
    z-index: 2;
    
}
#links {
    margin-top: 4vw;
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}

.icons {
    width: 100%;
    height: auto;
    opacity: 95%;
    
}
.link-item {
    display: block;
    position: relative;
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 1vw;
}
.link-item:hover {
    opacity: 80%;
}
footer {
    margin: 1vw auto;
    text-align: center;
    font-size: 1.2vw;
    color: #1a1a1a;
}
#licence {
    font-size: 0.8vw;
}

@media all and (max-width: 768px) {
    #projects {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50vw, auto);
        height: max-content;
        
    }
    #welcome-section {
        height: 54vw;
        width: 100%;
        margin-top: 4vh;
    }

    nav {
        
        padding-bottom: 7vw;
    }
      
    li > a {
        font-size: 2.5vw;
    }
    #links {
        padding-bottom: 3vw ;
    }
}